* {
  background-color: #DCEDFF;
}

h1 {
  font-family: monospace;
  font-size: 50px;
  color: black;
}
.myNav {
  font-family: sans-serif;
  color: black;
  justify-content: flex-end;
  flex-direction: row;

}
.myNav ul {
  list-style: none;
  padding: 0px;
}


h2 {
  font-size: 25px;
}

input{
  background-color: white;
}

footer{
  padding-bottom: 10px;
}
