* {
  background-color: #DCEDFF;
}

h1 {
  font-family: monospace;
  font-size: 50px;
  color: black;
}
.myNav {
  font-family: sans-serif;
  color: black;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 100px;

}
.myNav ul {
  list-style: none;
  padding: 0px;
}


h2 {
  font-size: 25px;
}

input{
  background-color: white;
  max-width: 300px;
}

footer{
  padding-bottom: 10px;
}

.wrapper {
  display: grid;
grid-template-columns: 200px;

}


